<tool name="CompareGUI">  <version>1.3.1</version>  <date>2017-09-17</date>  <container>#._CompareGUI</container>  <files>    <file>CompareWorkspaces.dyalog</file>  </files>  <needs>    <script library="APLTree">APLTreeUtils</script>    <script library="APLTree">FilesAndDirs</script>    <script library="APLTree">OS</script>    <script library="APLTree">CompareSimple</script>    <script library="APLTree">Compare</script>    <script library="APLTree">WinReg</script>  </needs>  <scriptOnly>0</scriptOnly>  <wsid>CompareGUI</wsid>  <autoload>1</autoload>  <buildid>14</buildid></tool>